<div class="field">
  <label class="label">タイトル</label>
  <div class="control">
    <input class="input" type="text" placeholder="タイトルを入力(未入力可)">
  </div>
</div>

<div class="field">
  <label class="label">内容</label>
  <div class="control">
    <textarea class="textarea" placeholder="内容を入力"></textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">保存</button>
  </div>
  <div class="control">
    <button class="button is-link">キャンセル</button>
  </div>
</div>

