<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><a href="#" aria-current="page">Top</a></li>
  </ul>
</nav>
<a href="/new" class="button is-primary is-outlined">メモ追加</a>
<div class="content">
  <ul>
    <% @memos.each do |memo| %>
      <li><a href="/show?id=<%= memo["id"] %>"><%= memo["title"] %></a></li>
    <% end %>
  </ul>
</div>
