<a href="/new" class="button is-primary is-outlined">メモ追加</a>
<div class="content">
  <ul>
    <% @memos.each do |memo| %>
      <li><a href="/show?id=<%= memo["id"] %>"><%= memo["title"] %></a></li>
    <% end %>
  </ul>
</div>

